body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  margin-bottom: 10px;
  background-color:whitesmoke;
  padding:10px 5px 10px 0px;
  margin-bottom: 20px;
}

.align-left{
  text-align: left;
}
.align-right{
    text-align: right;
}
.align-middle{
  vertical-align: middle;
  align-items: center;
}
nav{
  margin-bottom: 10px;
}
.header .header-contents{
  align-items: center;
}
.header .title{
  font-size:1.2rem;
}

.sun {
  background-color: #FFFAF9;
}
.sat {
  background-color: #FAF9FF;
}