
$content-width : 600px;
$content-height :400px;
$cell-rowheader-width:40px;
$cell-width:80px;
$cell-height:40px;

$color1 : #B9340B;
$color2 : #CEA45C;
$color3 : #C5BE8B;
$color4 : #498379;
$color5 : #3F261C;
    .main{
        margin:40px;
    }
  .disabled{
        visibility:hidden
    }
    .Modal {
        width:100%;
        height:100%;
        background-color:rgba(60,0,0,0.1);
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
.changed{
    background-color: red;
}

.space-width{
    padding-left: 5px;
    padding-right: 5px;
}